html.is-embedded, 
body.is-embedded, 
#root.is-embedded {
  height: auto !important;
  min-height: 0 !important;
  overflow: visible !important;
  background: transparent !important;
  padding: 0 !important;
  margin: 0 !important;
}

.is-embedded main {
  overflow: visible !important;
  padding: 0 !important;
  margin: 0 !important;
}

/* Force hide all scrolls in embed mode */
html.is-embedded, body.is-embedded {
  overflow: hidden !important; 
  scrollbar-width: none !important;
}

.is-embedded ::-webkit-scrollbar {
  display: none !important;
}

